.formContainer {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    max-width: 100%;
    width: 100% !important;
    align-items: flex-start;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 0 10px 10px 10px;
}

@media (min-width: 2000px) {
    .formContainer {
        min-height: 10vh;
    }
}

.formOn, .formOff {
    display: flex;
    flex-direction: row; /* Ensures elements are arranged in a row */
    justify-content: space-between;
    gap: clamp(0.1rem, 5vw, 20rem);
    max-width: 100%;
    width: 100%;
    background-color: #f9f9f9;
}


@media (max-width: 1740px) {
    .formOn, .formOff {
        gap: 4vw
    }
}

@media (max-width: 1580px) {
    .formOn, .formOff {
        gap: 3vw
    }
}

@media (max-width: 1447px) {
    .formOn, .formOff {
        gap: 2vw
    }
}

@media (max-width: 1337px) {
    .formOn, .formOff {
        gap: 1vw
    }
}

@media (max-width: 1245px) {
    .formOn, .formOff {
        flex-wrap: wrap;
    }
}

.searchButton {
    flex: 1 1 100%;
    padding: 0.7rem;
    background-color: #cd9f58;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3 ease, transform 0.3 ease;
}

.searchButton:hover {
    background-color: #b4874e;
    transform: translateY(-1px);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  }

.fieldGroup {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    flex: 1 1 calc(20% - 1rem);
}

.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}


.select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.fieldGroup select {
    border-radius: 10px;
    padding: 0.45rem;
    border: 1px solid #c4c0c0;
    background-color: white;
    transition: box-shadow 0.3 ease, transform 0.3 ease;
}

.fieldGroup select:hover {
    transform: translateY(-1px);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.formDetails {
    margin-top: 2rem;
    color: #333;
}

.resetButton {
    flex: 1 1 100%;
    padding: 0.7rem;
    background-color: #f9f9f9; /* Light grey to match the form background */
    color: #333; /* Dark text color to match other button text */
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s ease, transform 0.3s ease;
}

.resetButton:hover {
    color: white; /* White text on hover */
    transform: translateY(-1px);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.resetButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(205, 159, 88, 0.7); /* Subtle focus outline matching the border color */
}
