.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formOn {
    display: flex;
    flex-direction: row; /* Ensures elements are arranged in a row */
    gap: 4rem;
    background-color: #f9f9f9;
}

.formOff {
    display: flex;
    flex-direction: row; /* Ensures elements are arranged in a row */
    gap: 5.4rem;
    background-color: #f9f9f9;
}




.searchButton {
    flex: 1 1 100%;
    padding: 0.7rem;
    background-color: #cd9f58;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchButton:hover {
    background-color: #b4874e;
  }

.fieldGroup {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    flex: 1 1 calc(20% - 1rem);
}

.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}


.select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.formDetails {
    margin-top: 2rem;
    color: #333;
}

