.container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button.onCampus {
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;
  
    flex-wrap: nowrap;
  
    background-color: #d9d9d9;
  
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: #000000;
  
    padding: 0.75rem 1.5rem;
  
    border: none;
  
    cursor: pointer;

    display: flex;
    flex-direction: row;
    border: solid 1px white;
}

button.offCampus {
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;
  
    flex-wrap: nowrap;
  
    background-color: #231f20;
  
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: #ffffff;
  
    padding: 0.75rem 1.5rem;
  
    border: none;
  
    cursor: pointer;

    display: flex;
    flex-direction: row;
    border: solid 1px white;
}

.img {
    padding-top: 4%;
}