.backButton {
    margin-top: 13vh;
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease, scale 0.3s ease;
}

.backButton:hover {
    transform: scale(1.1);
    background-color: rgb(203, 203, 203);

}

.backButton:focus {
    background-color: rgb(214, 201, 162);
}