.contactLandingSplashBlock {
    display:flex;
    flex-direction: row;
    justify-content:center;
    height: auto;
    background-color: #f9f9f9;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.formContainer:hover {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5vw;
    margin-bottom: 1rem;
}