.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }
  .formHolder {
    width: 80%;
    padding: 2rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 10%;
  }

  .headerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }

  .headerText{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .keyword {
    color: #501315;
  }
  
  .postForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
  }

  .formGroup2 {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }
  
  .formGroup label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .assignGroupAdminTag {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 1rem;
  }

  .residentsContainer {
    margin-top: 1rem;
  }
  
  #residentRow {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  #residentRowAdmin {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .addButton {
    background-color: #cd9f58;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }

  .removeButton {
    background-color: #cd9f58;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .addButton:hover {
    background-color: #b5894e;
  }

  .removeButton:hover {
    background-color: #b5894e;
  }
  
  .submitButton {
    grid-column: span 2;
    background-color: #cd9f58;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submitButton:hover {
    background-color: #b5894e;
  }