
.customPostContainer {
  background-color: #f9f9f9;
  margin-top: 7%;
}

@media (max-width: 1250px) {
  .customPostContainer {
    margin-top: 10%;
  }
}

@media (max-width: 1000px) {
  .customPostContainer {
    margin-top: 13%;
  }
}

@media (max-width: 650px) {
  .customPostContainer {
    margin-top: 15%;
  }
}

@media (max-width: 500px) {
  .customPostContainer {
    margin-top: 20%;
  }
}

@media (max-width: 370px) {
  .customPostContainer {
    margin-top: 25%;
  }
}

.customPagePostingFormContainer {
  background-color: #f9f9f9;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }

  .formHolder {
    width: 90%;
    padding: 2rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 10%;
  }

  .requiredExplanation {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;
    color: gray;
    margin-top: 1rem;
  }

  .subletGroup label {
    margin-right: 1rem;
    font-weight: normal !important;
  }
  .subletGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .subletGroup:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 918px) {
    .subletGroup {
      flex-direction: column;
      margin-left: 0;
    }
    .subletGroup label {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  .subletCheckbox {
    width: 20px;
    height: 20px;
  }

  .subletCheckbox:hover {
    cursor: pointer;
    box-shadow: none;
  }

  .subletCheckbox:focus {
    box-shadow: none;
    outline: none;
  }

  .subletCheckbox[type="checkbox"]:checked {
    accent-color: #cd9f58;
  }

  .headerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7%;
  }

  .headerText{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .keyword {
    color: #cd9f58;
  }
  
  .warning {
    color: gray;
    font-size: 1.5rem;
  }

  .warningLink {
    color: #cd9f58;
    font-weight: bold;
    text-decoration: none;
  }

  .warningLink:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #987540;
  }

  .postForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .rentInputGroup {
    display: flex;
    flex-direction: row;
  }

  .rentInputGroup input {
    border-right: none !important;
    border-radius: 10px 0 0 10px !important;
  }

  .rentInputGroup select {
    border-left: none !important;
    border-radius: 0 10px 10px 0 !important;
  }

  
  .formGroup {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
  }

  .formGroup2 {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }

  .formGroup3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    grid-column: span 2;
    padding: 2rem;
    gap: 2.5rem;
    padding-top: 0rem !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .formGroup3:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  }

  .formGroup3 .formGroup {
    padding-top: 2rem;
    max-width: 500px;
  }

  @media (max-width: 580px) {
    .formGroup {
      text-align: center;
    }
  }

  .dateGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  @media (max-width: 530px) {
    .dateGroup {
      flex-direction: column;
    }
  }

  .dateGroupFields {
    display: flex;
    flex-direction: column;
  }

  .requiredInputAdmin {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    max-width: 100% !important;
  }

  .requiredAdmin {
    color: #fc9700;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }

  .requiredInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    max-width: 100%;
  }

  .required {
    color: #fc9700;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }

  .otherGender {
    width: 130px;
  }

  .genderBlock {
    display: flex;
    flex-direction: row;
  }

  form input {
    border-radius: 10px;
    padding: 7px;
    border: 1px solid #c4c0c0;
    background-color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  form input:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  }

  form input:focus {
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    outline: 2px solid #cd9f58;
  }

  form select {
    border-radius: 10px;
    padding: 7px;
    border: 1px solid #c4c0c0;
    background-color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  form select:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  }

  form select:focus {
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    outline: none;
  }

  
  .formGroup label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .assignGroupAdminTag {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 1rem;
  }

  .formLocationSelector select {
      border-radius: 10px;
      padding: 0.5rem;
      border: 1px solid #c4c0c0;
      background-color: white;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .formLocationSelector select:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  }

  .residentsContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

.residentsContainer:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
}
  

  .residentRow {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }

  @media (max-width: 1200px) {

    .residentRow, .residentRowAdmin {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    
    .residentRow:hover, .residentRowAdmin:hover {
      cursor: pointer;
      transform: translateY(-2px);
      box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
    }

    .residentRow input, .residentRow select, .residentRowAdmin input, .residentRowAdmin select  {
      max-width: 300px;
    }

    .requiredInput, .requiredInputAdmin {
      width: auto;
      max-width: 300px;
    }

  }

  .residentRowAdmin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .addButton {
    display: block;
    margin-top: 1rem;
    background-color: #cd9f58;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .removeButton {
    background-color: #cd9f58;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .addButton:hover {
    cursor: pointer;
    background-color: #b5894e;
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  }

  .removeButton:hover {
    cursor: pointer;
    background-color: #b5894e;
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  }
  
  .submitButton {
    grid-column: span 2;
    background-color: #cd9f58;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transform: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .submitButton:hover {
    cursor: pointer;
    background-color: #b5894e;
    transform: translateY(-1px);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2)
  }

  .errorMessage {
    color: red;
    margin: 0.5rem 0;
}

.uploadGroup {
  display: flex;
}

.uploadLabelContainer {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

@media (max-width: 759px) {
  .uploadLabelContainer {
    flex-direction: column;
  }
  .uploadSubLabel {
    margin-top: 0rem;
  }
}

.uploadSubLabel {
  font-size: 0.75rem;
  margin-top: 0.2rem;
}